body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

.App {
  display: block;
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbar {position: relative; margin: 30px 0px; display: block;}
.button {
  padding: 5px 10px;
  border: 2px solid #999;
  background-color: #fff;
  text-align: center;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.button.active {
  background: #333;
  color:#eaeaea
}


.container {
  display: inline-block;
  column-count: 3;
  column-gap: 15px;
}

.container > img {
  margin: 0;
  display: grid;
  margin-bottom: 10px;
  break-inside: avoid;
  max-width: 200px;
}
